/*************************
         Global css
************************** */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1140px;
  margin: auto;
}

a {
  text-decoration: none;
}

/*************************
    header css start here
************************** */
header {
  width: 100%;
}
.nav-bar {
  width: 100%;
  padding: 25px 0px;
}
.logo {
  float: left;
  width: 25%;
}
.menu {
  width: 75%;
  float: right;
  text-align: right;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  text-align: right;
  margin-left: 62px;
}

.menu ul li a {
  font-family: "Playfair Display", serif;
  color: #b6b6b6;
  text-transform: uppercase;
  font-weight: 400;
}

.menu ul li a:hover {
  color: black;
}

/*************************
    main post css start here
************************** */

.main-post {
  width: 100%;
}

.details {
  padding: 70px;
}

.details h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7c1b6;
}

.details h1 {
  font-family: "Playfair Display", serif;
  color: #626262;
  padding: 25px 0;
}
.details p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: justify;
  color: #626262;
}

.details h5 {
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 0px;
}
